@media screen and (max-width:1024px){
    .about{
        height: 80vh;
        background-image:radial-gradient(rgba(15, 7, 7, 0.27), rgba(17, 6, 6, 0.986)), url(/homepage\ edited.jpg);
        background-size: contain;

    
    }
    
}
@media screen and (min-width:1025px){
    .about{
        height: 80vh;
        background-image:radial-gradient(rgba(15, 7, 7, 0.27), rgba(17, 6, 6, 0.986)), url(/homepage\ edited.jpg);
        background-size: cover;
    
    }
    
}
@media screen and (max-width:480px){
    .about{
        height: 80vh;
        background-image:radial-gradient(rgba(15, 7, 7, 0.27), rgba(17, 6, 6, 0.986)), url(/homepage\ edited.jpg);
        background-size: contain;
    
    }
    
}