@media screen and (max-width: 768px) {
  .firstgrid{
    background-image:radial-gradient(rgba(15, 7, 7, 0.2), rgba(17, 6, 6, 0.536)), url(/menbackk.jpg);
    background-size: cover;
    
  }
.secondgrid{
    background-image: radial-gradient(rgba(15, 7, 7, 0.2), rgba(17, 6, 6, 0.536)), url(/photo-plainback.webp);
    background-size: cover;
    background-repeat: no-repeat;
    
}
.thirdgrid{
    background-image: radial-gradient(rgba(15, 7, 7, 0.2), rgba(17, 6, 6, 0.536)), url(/accessories.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.video{
  background-image: url(/video333.jpg);
  background-size: cover;
  height: 80vh;
}
.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
  
}
.slide1{
  background-image: url(/photo-plainbackwomen3.jpg);
  background-size: cover;
  height: 100vh;
  width: 100%;
  flex: 0 0 100%;
  min-width: 0;
}
.slide2{
  background-image: url(/photo-plainbackwomen3.jpg);
  background-size: cover;
  height: 100vh;
  width: 100%;
  flex: 0 0 100%;
  min-width: 0;
}
.slide3{
  background-image: url(/photo-plainbackwomen3.jpg);
  background-size: cover;
  height: 100vh;
  width: 100%;
  flex: 0 0 100%;
  min-width: 0;
}
    
    
}
@media screen and (min-width: 769px) {
  .embla {
    overflow: hidden;
  }
  .embla__container {
    display: flex;
  }
  .embla__slide {
    flex: 0 0 100%;
    min-width: 0;
    
  }
  .slide1{
    background-image: url(/photo-plainbackwomen3.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;
    flex: 0 0 100%;
    min-width: 0;
  }
  .slide2{
    background-image: url(/photo-plainbackwomen3.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;
    flex: 0 0 100%;
    min-width: 0;
  }
  .slide3{
    background-image: url(/photo-plainbackwomen3.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;
    flex: 0 0 100%;
    min-width: 0;
  }
  

  
  
    
    .firstgrid{
        background-image:radial-gradient(rgba(15, 7, 7, 0.2), rgba(17, 6, 6, 0.536)), url(/menbackk.jpg);
        background-size: cover;

    }
    .secondgrid{
        background-image: radial-gradient(rgba(15, 7, 7, 0.2), rgba(17, 6, 6, 0.536)), url(/photo-plainback.webp);
        background-size: cover;
        background-repeat: no-repeat;
        
    }
    .thirdgrid{
        background-image: radial-gradient(rgba(15, 7, 7, 0.2), rgba(17, 6, 6, 0.536)), url(/accessories.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    .video{
      background-image: url(/video333.jpg);
      background-size: cover;
      height: 80vh;
    }
    
}
  
@media screen and (max-width: 480px){
          .firstgrid{
            background-image:radial-gradient(rgba(15, 7, 7, 0.2), rgba(17, 6, 6, 0.536)), url(/menbackk.jpg);
            background-size: cover;
        
        }
        .secondgrid{
            background-image: radial-gradient(rgba(15, 7, 7, 0.2), rgba(17, 6, 6, 0.536)), url(/photo-plainback.webp);
            background-size: cover;
            background-repeat: no-repeat;
            
        }
        .thirdgrid{
            background-image: radial-gradient(rgba(15, 7, 7, 0.2), rgba(17, 6, 6, 0.536)), url(/accessories.jpg);
            background-size: cover;
            background-repeat: no-repeat;
        }
        .video{
          background-image: url(/video333.jpg);
          background-size: cover;
          height: 80vh;
        }
        .embla {
          overflow: hidden;
        }
        .embla__container {
          display: flex;
        }
        .embla__slide {
          flex: 0 0 100%;
          min-width: 0;
          
        }
        .slide1{
          background-image: radial-gradient(rgba(15, 7, 7, 0.5), rgba(17, 6, 6, 0.696)), url(/photo-plainbackwomenmobile.jpg);
          background-size: cover;
          height: 100vh;
          width: 100%;
          flex: 0 0 100%;
          min-width: 0;
        }
        .slide2{
          background-image: url(/menbackk.jpg);
          background-size: cover;
          height: 100vh;
          width: 100%;
          flex: 0 0 100%;
          min-width: 0;
        }
        .slide3{
          background-image:  url(/photo-plainbackwomen3.jpg);
          background-size: cover;
          height: 100vh;
          width: 100%;
          flex: 0 0 100%;
          min-width: 0;
        }
          
}